<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!--property name="connection.pool_size">1</property-->
        <property name="hibernate.ddl-auto">none</property>
        <mapping class="com.example.demoSpringData.model.Employees"/>
    </session-factory>
</hibernate-configuration>